In [6]:
import pandas as pd
df = pd.read_csv("C:/Users/Magal/Downloads/LakeCounty_Health.csv", index_col="OBJECTID")

In [7]:
df.head()

                NAME  Obesity   Shape__Area  Shape__Length
OBJECTID
1              Texas     32.4  7.672329e+12   1.540832e+07
2         California     24.2  5.327809e+12   1.451870e+07
3           Kentucky     34.6  1.128830e+12   6.346699e+06
4            Georgia     30.7  1.652980e+12   5.795596e+06
5          Wisconsin     30.7  1.567816e+12   6.806782e+06

In [ ]:

for col in df.columns:
    print(f"Valores únicos na coluna '{col}':\n{df[col].unique()}\n")

Valores únicos na coluna 'NAME':
['Texas' 'California' 'Kentucky' 'Georgia' 'Wisconsin' 'Oregon' 'Virginia'
 'Tennessee' 'Louisiana' 'New York' 'Michigan' 'Idaho' 'Florida' 'Alaska'
 'Montana' 'Minnesota' 'Nebraska' 'Washington' 'Ohio' 'Illinois'
 'Missouri' 'Iowa' 'South Dakota' 'Arkansas' 'Mississippi' 'Colorado'
 'North Carolina' 'Utah' 'Oklahoma' 'Wyoming' 'West Virginia' 'Indiana'
 'Massachusetts' 'Nevada' 'Connecticut' 'District of Columbia'
 'Rhode Island' 'Alabama' 'Puerto Rico' 'South Carolina' 'Maine' 'Hawaii'
 'Arizona' 'New Mexico' 'Maryland' 'Delaware' 'Pennsylvania' 'Kansas'
 'Vermont' 'New Jersey' 'North Dakota' 'New Hampshire']

Valores únicos na coluna 'Obesity':
[32.4 24.2 34.6 30.7 30.1 29.2 33.8 36.2 25.  31.2 28.6 26.8 29.8 23.6
 26.1 31.4 26.4 30.8 32.1 30.4 34.5 35.6 20.2 24.5 33.9 29.  31.3 24.3
 26.7 25.3 22.1 26.  29.5 31.7 30.  22.7 28.4 28.8 28.9 29.7 34.2 25.1
 25.6 31.  26.3]

Valores únicos na coluna 'Shape__Area':
[7.67232922e+12 5.32780942e+12 1.12883029e+12 1.65298028e+12
 1.56781609e+12 3.17844563e+12 1.15880436e+12 1.17705447e+12
 1.35509376e+12 1.41144055e+12 1.65722184e+12 2.59359827e+12
 1.67441122e+12 5.30113882e+11 4.37146637e+12 2.36787473e+12
 2.20744444e+12 2.21421482e+12 1.15801597e+12 1.57156830e+12
 1.94902082e+12 1.57558886e+12 2.19905349e+12 1.48869927e+12
 1.32785320e+12 3.06687861e+12 1.49575599e+12 2.61428097e+12
 1.98244889e+12 2.89740040e+12 6.85167362e+11 1.01036422e+12
 2.47224999e+11 3.56435419e+12 1.45421899e+11 1.97210231e+09
 3.61780765e+10 1.44280662e+12 1.14783883e+11 8.78270408e+11
 9.90384869e+11            nan 3.56268591e+12 3.62293320e+12
 3.03943203e+11 5.90811016e+10 1.28845194e+12 2.34036592e+12
 2.78931330e+11 2.24606548e+11 2.01315177e+12 2.70529403e+11]

Valores únicos na coluna 'Shape__Length':
[15408321.8693326  14518698.4569941   6346698.58640708  5795595.91864916
  6806782.08136301  7976010.94221365  7710803.89951692  6350376.86054333
  7383856.92000197  7981383.07833192 12407988.0255281   9081125.22172213
 10533929.1449871   6663726.59004341  9745471.75281783  8530250.43009455
  6921599.98830379  7508966.84072584  5015484.92425697  6172530.808854
  7165632.96911909  5558144.62527852  6680911.24766789  5707634.00268186
  5834201.76780663  7092296.49765181  6714056.23681002  6798972.50369368
  7857119.56910824  6860971.19037082  5374279.69671274  4858882.2188474
  4197218.18339706  8240794.81052883  1780630.95587218   200324.96080736
   984524.58150414  5750657.81193695  2136273.27154324  4370940.54757697
  5560035.3654817                nan  8044184.23411284  8075166.55523129
  5850363.29176001  1383604.11821384  5024348.11270229  6540498.42012793
  2653732.23281641  2599119.26117916  5872756.35866059  2674767.14799775]

In [ ]:

for col in df.columns:
    print(f"Distribuição de valores na coluna '{col}':\n{df[col].value_counts()}\n")

Distribuição de valores na coluna 'NAME':
NAME
Texas                   1
California              1
Kentucky                1
Georgia                 1
Wisconsin               1
Oregon                  1
Virginia                1
Tennessee               1
Louisiana               1
New York                1
Michigan                1
Idaho                   1
Florida                 1
Alaska                  1
Montana                 1
Minnesota               1
Nebraska                1
Washington              1
Ohio                    1
Illinois                1
Missouri                1
Iowa                    1
South Dakota            1
Arkansas                1
Mississippi             1
Colorado                1
North Carolina          1
Utah                    1
Oklahoma                1
Wyoming                 1
West Virginia           1
Indiana                 1
Massachusetts           1
Nevada                  1
Connecticut             1
District of Columbia    1
Rhode Island            1
Alabama                 1
Puerto Rico             1
South Carolina          1
Maine                   1
Hawaii                  1
Arizona                 1
New Mexico              1
Maryland                1
Delaware                1
Pennsylvania            1
Kansas                  1
Vermont                 1
New Jersey              1
North Dakota            1
New Hampshire           1
Name: count, dtype: int64

Distribuição de valores na coluna 'Obesity':
Obesity
35.6    3
30.1    2
30.7    2
29.8    2
32.4    2
30.0    2
29.2    1
24.2    1
33.8    1
25.0    1
31.2    1
36.2    1
34.6    1
26.8    1
28.6    1
31.4    1
23.6    1
30.8    1
32.1    1
30.4    1
26.1    1
34.5    1
20.2    1
24.5    1
33.9    1
29.0    1
31.3    1
24.3    1
26.4    1
26.7    1
25.3    1
26.0    1
22.1    1
29.5    1
31.7    1
22.7    1
28.4    1
28.8    1
28.9    1
29.7    1
34.2    1
25.1    1
25.6    1
31.0    1
26.3    1
Name: count, dtype: int64

Distribuição de valores na coluna 'Shape__Area':
Shape__Area
7.672329e+12    1
5.327809e+12    1
1.128830e+12    1
1.652980e+12    1
1.567816e+12    1
3.178446e+12    1
1.158804e+12    1
1.177054e+12    1
1.355094e+12    1
1.411441e+12    1
1.657222e+12    1
2.593598e+12    1
1.674411e+12    1
5.301139e+11    1
4.371466e+12    1
2.367875e+12    1
2.207444e+12    1
2.214215e+12    1
1.158016e+12    1
1.571568e+12    1
1.949021e+12    1
1.575589e+12    1
2.199053e+12    1
1.488699e+12    1
1.327853e+12    1
3.066879e+12    1
1.495756e+12    1
2.614281e+12    1
1.982449e+12    1
2.897400e+12    1
6.851674e+11    1
1.010364e+12    1
2.472250e+11    1
3.564354e+12    1
1.454219e+11    1
1.972102e+09    1
3.617808e+10    1
1.442807e+12    1
1.147839e+11    1
8.782704e+11    1
9.903849e+11    1
3.562686e+12    1
3.622933e+12    1
3.039432e+11    1
5.908110e+10    1
1.288452e+12    1
2.340366e+12    1
2.789313e+11    1
2.246065e+11    1
2.013152e+12    1
2.705294e+11    1
Name: count, dtype: int64

Distribuição de valores na coluna 'Shape__Length':
Shape__Length
1.540832e+07    1
1.451870e+07    1
6.346699e+06    1
5.795596e+06    1
6.806782e+06    1
7.976011e+06    1
7.710804e+06    1
6.350377e+06    1
7.383857e+06    1
7.981383e+06    1
1.240799e+07    1
9.081125e+06    1
1.053393e+07    1
6.663727e+06    1
9.745472e+06    1
8.530250e+06    1
6.921600e+06    1
7.508967e+06    1
5.015485e+06    1
6.172531e+06    1
7.165633e+06    1
5.558145e+06    1
6.680911e+06    1
5.707634e+06    1
5.834202e+06    1
7.092296e+06    1
6.714056e+06    1
6.798973e+06    1
7.857120e+06    1
6.860971e+06    1
5.374280e+06    1
4.858882e+06    1
4.197218e+06    1
8.240795e+06    1
1.780631e+06    1
2.003250e+05    1
9.845246e+05    1
5.750658e+06    1
2.136273e+06    1
4.370941e+06    1
5.560035e+06    1
8.044184e+06    1
8.075167e+06    1
5.850363e+06    1
1.383604e+06    1
5.024348e+06    1
6.540498e+06    1
2.653732e+06    1
2.599119e+06    1
5.872756e+06    1
2.674767e+06    1
Name: count, dtype: int64

In [10]:
df.describe()

         Obesity   Shape__Area  Shape__Length
count  52.000000  5.100000e+01   5.100000e+01
mean   29.286538  1.757944e+12   6.417699e+06
std     3.832832  1.448838e+12   2.966014e+06
min    20.200000  1.972102e+09   2.003250e+05
25%    26.250000  9.343276e+11   5.199314e+06
50%    29.800000  1.495756e+12   6.540498e+06
75%    31.475000  2.277290e+12   7.783962e+06
max    36.200000  7.672329e+12   1.540832e+07

In [11]:
df.isnull().sum()

NAME             0
Obesity          0
Shape__Area      1
Shape__Length    1
dtype: int64

In [14]:
df.head()

                NAME  Obesity   Shape__Area  Shape__Length
OBJECTID
1              Texas     32.4  7.672329e+12   1.540832e+07
2         California     24.2  5.327809e+12   1.451870e+07
3           Kentucky     34.6  1.128830e+12   6.346699e+06
4            Georgia     30.7  1.652980e+12   5.795596e+06
5          Wisconsin     30.7  1.567816e+12   6.806782e+06

In [21]:
print((df == "Null").sum())

NAME             0
Obesity          0
Shape__Area      0
Shape__Length    0
dtype: int64

In [ ]:
#Retirar linha com valor nulo 
df1 = df.dropna()

In [23]:
for col in df1.columns:
    print(f"Valores únicos na coluna '{col}':\n{df1[col].unique()}\n")

Valores únicos na coluna 'NAME':
['Texas' 'California' 'Kentucky' 'Georgia' 'Wisconsin' 'Oregon' 'Virginia'
 'Tennessee' 'Louisiana' 'New York' 'Michigan' 'Idaho' 'Florida' 'Alaska'
 'Montana' 'Minnesota' 'Nebraska' 'Washington' 'Ohio' 'Illinois'
 'Missouri' 'Iowa' 'South Dakota' 'Arkansas' 'Mississippi' 'Colorado'
 'North Carolina' 'Utah' 'Oklahoma' 'Wyoming' 'West Virginia' 'Indiana'
 'Massachusetts' 'Nevada' 'Connecticut' 'District of Columbia'
 'Rhode Island' 'Alabama' 'Puerto Rico' 'South Carolina' 'Maine' 'Arizona'
 'New Mexico' 'Maryland' 'Delaware' 'Pennsylvania' 'Kansas' 'Vermont'
 'New Jersey' 'North Dakota' 'New Hampshire']

Valores únicos na coluna 'Obesity':
[32.4 24.2 34.6 30.7 30.1 29.2 33.8 36.2 25.  31.2 28.6 26.8 29.8 23.6
 26.1 31.4 26.4 30.8 32.1 30.4 34.5 35.6 20.2 24.5 33.9 29.  31.3 24.3
 26.7 25.3 22.1 26.  29.5 31.7 30.  28.4 28.8 28.9 29.7 34.2 25.1 25.6
 31.  26.3]

Valores únicos na coluna 'Shape__Area':
[7.67232922e+12 5.32780942e+12 1.12883029e+12 1.65298028e+12
 1.56781609e+12 3.17844563e+12 1.15880436e+12 1.17705447e+12
 1.35509376e+12 1.41144055e+12 1.65722184e+12 2.59359827e+12
 1.67441122e+12 5.30113882e+11 4.37146637e+12 2.36787473e+12
 2.20744444e+12 2.21421482e+12 1.15801597e+12 1.57156830e+12
 1.94902082e+12 1.57558886e+12 2.19905349e+12 1.48869927e+12
 1.32785320e+12 3.06687861e+12 1.49575599e+12 2.61428097e+12
 1.98244889e+12 2.89740040e+12 6.85167362e+11 1.01036422e+12
 2.47224999e+11 3.56435419e+12 1.45421899e+11 1.97210231e+09
 3.61780765e+10 1.44280662e+12 1.14783883e+11 8.78270408e+11
 9.90384869e+11 3.56268591e+12 3.62293320e+12 3.03943203e+11
 5.90811016e+10 1.28845194e+12 2.34036592e+12 2.78931330e+11
 2.24606548e+11 2.01315177e+12 2.70529403e+11]

Valores únicos na coluna 'Shape__Length':
[15408321.8693326  14518698.4569941   6346698.58640708  5795595.91864916
  6806782.08136301  7976010.94221365  7710803.89951692  6350376.86054333
  7383856.92000197  7981383.07833192 12407988.0255281   9081125.22172213
 10533929.1449871   6663726.59004341  9745471.75281783  8530250.43009455
  6921599.98830379  7508966.84072584  5015484.92425697  6172530.808854
  7165632.96911909  5558144.62527852  6680911.24766789  5707634.00268186
  5834201.76780663  7092296.49765181  6714056.23681002  6798972.50369368
  7857119.56910824  6860971.19037082  5374279.69671274  4858882.2188474
  4197218.18339706  8240794.81052883  1780630.95587218   200324.96080736
   984524.58150414  5750657.81193695  2136273.27154324  4370940.54757697
  5560035.3654817   8044184.23411284  8075166.55523129  5850363.29176001
  1383604.11821384  5024348.11270229  6540498.42012793  2653732.23281641
  2599119.26117916  5872756.35866059  2674767.14799775]

In [27]:
print(df1.columns[["Shape_Area", "Shape_Length"]].describe())

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [28]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(10,5))
sns.boxplot(data=df1[["Shape_Area", "Shape_Length"]])
plt.title("Detecção de Outliers em Shape Area e Shape Length")
plt.show()

KeyError: "None of [Index(['Shape_Area', 'Shape_Length'], dtype='object')] are in the [columns]"